@using WebApplication1.Models
@model UserIdentityModels
<div id="Reg" style="width:100%;height:5rem;">
    <div id="reg" style="font-size:30px">登陆</div>
</div>
<form method="post">
    <div id="Cone" style="width:100%;height:20rem;">
        <div id="Acc" style="width:100%;height:20%;border-bottom:solid 0.1rem grey;">
            <span id="acc" style="float:left">用户</span>
            @*<input type="text" id="accc" style="float:left" />*@
            @*@Html.TextBox("Name", "", new { @class = "input-text" })*@
            @Html.TextBoxFor(m => m.Name, new { @class = "input-text" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>

        <div id="PassWord" style="width:100%;height:15%;border-bottom:solid 0.1rem grey;margin-top:1.7rem">
            <span id="pw" style="float:left">密码</span>
            @*<input type="text" id="pww" style="float:left" />*@
            @*@Html.TextBox("Password", "", new { @class = "input-text" })*@
            @Html.TextBoxFor(m => m.PassWord, new { @class = "input-text" })
            @Html.ValidationMessageFor(m => m.PassWord, "", new { @class = "text-danger" })
        </div>
        <div id="Butto" style="width:100%;height:24%;border-bottom:solid 0.1rem grey;">

            <input type="submit" name="action" id="" onclick='this.form.action="@Url.Action("Lg")"' value="登入" />

            <div style="margin-top:1rem">
                <a href="http://localhost:11235/Home/Reg">注册新用户</a>
            </div>
        </div>
    </div>
</form>
<script>
    function Auth() {
        layer.msg("权限不够", { icon: 2 })
    }
    if (Viewbag.s = 1) {
        Auth()
    }
    
</script>